{% extends "mainapp/main.html" %}
{% block content %}
<section id="home" class="full-height px-lg-5">

    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <h5 class="mt-4 mb-2">{{servicee.title}}</h5>
                <p>{{servicee.description}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row gy-4 justify-content-between">
            <div class="col-auto">
            </div>
        </div>
    </div>
</section>          
{% endblock content %}